<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>StudyIOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9AA2FED8268C61A200E2E9C7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9AA2FEEE268C61A300E2E9C7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9AA2FEF9268C61A300E2E9C7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
